h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}
p, li, blockquote {
  font-size: 27px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
table.table {
    width:auto;
    display: none;
}
table.table tbody td {
    text-align: right;
}
.community-area {
    float: left;
    width: 20%;
    margin: 0 5% 36px 0; 
}
.community-area h2 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
.community-area .jqplot-xaxis, .community-area .jqplot-yaxis {
    color: #aaa;
}
.community-area .jqplot-xaxis {
    bottom: -20px !important;
    left: 5px !important;
}
.community-area .jqplot-yaxis {
    left: -15px !important;
}
.tablechart {
    position: relative;
    right: -15px;
}
.modal .tablechart {
    right: -28px;
}
.community-area .modal .jqplot-xaxis, .community-area .modal .jqplot-yaxis {
    color: #000;
}
.modal-header {
    color: #2F4F4F;
    background-color: #EE7600;
