h1 {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 36px;
  letter-spacing: -1px;
}
p, li, blockquote {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
table.table {
    width:auto;
}
table.table tbody td {
    text-align: right;
}
