img { float: left; margin-right: 30px; }

h1 {
  padding-top: 80px;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 27px;
  letter-spacing: -1px;
}
h2 {
  font-size: 36px;
  margin-bottom: 18px;
  line-height: 36px;
  letter-spacing: -1px;
}
p, li, blockquote {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
#content p, #content ul { 
  margin-bottom: 27px;
}
#content li { 
  margin-bottom: 9px;
}
#page-title {
  margin-bottom: 18px;
}
#page-title h1 {
  font-size: 48px;
  margin-bottom: 18px;
  font-weight: 400;
}
#page-title h1 strong {
  font-size: 60px;
}
#screenshots h1 {
  margin-top: -77px;
}
.caption, .note {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}
.download {
  text-align: center;
}
.btn-download {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

