<!DOCTYPE html>
<html>
<head>
    <title>Chicago birth rates</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="shortcut icon" href="static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="static/js/jqplot/jquery.jqplot.min.css" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/excanvas.js"></script>
    <script type="text/javascript" src="static/js/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src="static/js/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="static/js/tablechart/jquery.tablechart.js"></script>
    <script>
    $(document).ready(function() {
        var options = {
            height: 50,
            plotOptions: {
                seriesColors: [ '#9999ff' ],
                gridPadding : {top:0, bottom: 0, right:0, left:0},
                legend: {
                    show: false
                },
                seriesDefaults: {
                    fill: true
                },
                axesDefaults: {
                    renderer: $.jqplot.LinearAxisRenderer,
                    tickOptions: {
                        showTickMarks: false,
                        formatString: '%d',
                    }
                },
                axes: {
                    yaxis: {
                        min: {{ chart_min }},
                        max: {{ chart_max }},
                        numberTicks: 5
                    },
                    xaxis: {
                        min: 1999,
                        max: 2009,
                        numberTicks: 8
                    }
                },
                highlighter: {
                    show: true,
                    showTooltip: true,
                    tooltipLocation: 'n'
                }
            }
        };
        $('.community-data').tablechart(options);
        options.height=200;
        options.width=500;
        $(".modal").one("shown",function() {
            var community_area = $(this).parent();
            var table = community_area.find("table").clone();
            table.appendTo($(this)).tablechart(options);
        });
    });
    </script>
</head>
<body>
<div id="content" class="container-fluid">
    <div class="row-fluid">
        <h1>Birth rates by community area</h1>
        <p>Max birth rate: {{ max }} ({{ max_community.title() }}, {{ max_year }})</p>
        <p>Min birth rate: {{ min }} ({{ min_community.title() }}, {{ min_year }})</p>
    </div>
    <div class="row-fluid">
        {% for row in table %}
        <div class="community-area">
            <h2>
                {{ row.0.title() }}
                <a href="#modal-{{ loop.index }}" data-toggle="modal">enlarge</a>
            </h2>
            <div class="modal hide fade" id="modal-{{ loop.index }}" data-backdrop="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ row.0.title() }}</h3>
                </div>
                <div class="modal-body">

                </div>
            </div>
            <table class="community-data table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Birth rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for year,rate in row[1:] %}
                    <tr>
                        <th>{{ year }}</th>
                        <td>{{ rate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
