<!doctype html>
<head>
    <title>Hopper</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="shortcut icon" href="static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


<link
</head>
<body data-spy="scroll">
<div id="navbar" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand">Hopper</a>
      <ul class="nav">
        <li class="active"><a href="#intro">About</a></li> 
        <li><a href="#screenshots">Screenshots</a></li> 
        <li><a href="#install">Install</a></li> 
        <li><a href="#packages">Packages</a></li> 
        <li><a href="#notes">Notes</a></li> 
      </ul>
    </div>
  </div>
</div>
<div id="content" class="container-fluid">
  <section id="intro" class="clearfix">
    <div id="page-title" class="row-fluid">
      <div class="span12">
        <h1><strong>Hopper</strong>: Develop web applications now</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <img src="/static/img/hopper.jpg" alt="Rear Admiral Grace Hopper" />
        <p class="caption">Rear Admiral Grace Hopper</p>
      </div>
      <div class="span7">
      <p>Develop Python and PHP web applications with this zippy, low-memory virtual appliance. Hopper features:</p>

      <ul>
        <li><strong>Modern GUI</strong>: Dock, shadows and smooth effects.</li>
        <li><strong>Awesome toolchain</strong>: A baseline of useful tools like LAMP, Python, and Postgres.</li>
        <li><strong>Mac keybindings that don't stink</strong></li>
        <li><strong>Low memory footprint</strong>: Hopper happily runs Vim, Firefox + Firebug, and a terminal in under 512mb memory.</li>
      </ul>

      <div class="download">
        <a class="btn btn-primary btn-download" href="https://dl.dropbox.com/u/17047628/hopper.ova">Download Hopper virtual appliance</a>
      </div>
      <hr />
      <p class="note">
        I'm tired of all the time that is spent by curious, fledging developers 
        wrestling with their systems. Fighting with apt or brew often stands in 
        the way of writing "hello world" or contributing to an open source project.
        I've long wanted a turnkey development environment, and I think with 
        Hopper I'm finally close.
      </p> 
    </div>
  </section>
  <section id="screenshots">
    <h1>Screenshots</h1>
  </section>
  <section id="install">
    <h1>Install</h1>
    <ol>
      <li><a href="https://www.virtualbox.org/wiki/Downloads">Download</a> and <a href="http://www.virtualbox.org/manual/ch02.html">install</a> VirtualBox.</li>
      <li><a href="https://dl.dropbox.com/u/17047628/hopper.ova">Download Hopper virtual appliance</a></li>
      <li>Install the Hopper virtual appliance: Double click Hopper download icon, or use VirtualBox's import feature. Fill out virtual machine details, or continue to use defaults.</li>
    </ol>
  </section>

  <section id="packages">
    <h1>Packages</h1>
    <div class="row-fluid">
      <div class="span4">
        <ul>
          <li>ack-grep</li>
          <li>git</li>
          <li>meld</li>
          <li>mysql</li>
          <li>postgresql</li>
          <li>postgis</li>
          <li>gdal</li>
          <li>imagemagick</li>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <li>pip</li>
          <li>node</li>
          <li>npm</li>
          <li>virtualenv</li>
          <li>ruby</li>
          <li>rubygems</li>
          <li>php5</li>
          <li>apache2</li>
        </ul>
      </div>
      <div class="span4">
        <ul>
          <li>xdebug</li>
          <li>Apanta studio</li>
          <li>gvim + janus</li>
          <li>qgis</li>
          <li>LilyTerm</li>
          <li>Pintura</li>
          <li>Inkscape</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="notes">
    <h1>Notes</h1>
    <p>Credentials:</p>
    <ul>
      <li>user: <code>user</code></li>
      <li>password: <code>password</code></li>
    </ul>
    <p>Not tested in Windows. Windows almost certainly needs <code>~/.Xmodmap</code> deleted for keybindings to work as expected.</p>
    <p>How to swap cmd and ctrl in terminal?</p>
    <p>No terminal window shadow.</p>
    <p>xcompmgr downgraded to 1.1.5: Upgrading xcompmgr package to 1.1.6 breaks window shadows.</p>
  </section>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('#navbar').scrollspy({'offset': -50 });
});
</script>
</body>
</html>
