<!doctype html>
<head>
    <title>Hopper</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="shortcut icon" href="static/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>


<link
</head>
<body>
<div id="content" class="container-fluid">
    <div class="row-fluid">
        <h1>Birth rates by community area</h1>
        {% for row in table %}
        <div class="community-area">
            <h2>{{ row.0.title() }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Birth rate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for year,rate in row[1:] %}
                    <tr>
                        <th>{{ year }}</th>
                        <td>{{ rate }}</th>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/bootstrap/js/tablechart/jquery.tablechart.js"></script>
</body>
</html>
